.profile {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  padding: 2rem;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logout {
  justify-content: flex-end;
  background-color: var(--color-gray-900);
}

.logout:hover,
.logout:focus {
  background-color: #000;
}
